nav {
  margin: 0px 7px;
  line-height: 60px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}

nav a {
  text-decoration: none;
}

nav #menu {
  display: none;
}

nav #logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav #options ul, li {
  list-style: none;
  display: inline;
  margin-left: 28px;
}

nav #options ul, ul > :first-child {
  margin-left: 0px;
}

@media screen and (max-width: 480px) {
  nav #options ul {
    display: none;
  }

  nav #menu {
    display: block;
  }
}